/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2835";
	fragment@0 {
		target = <&spi0>;
		 __overlay__ {
			#address-cells = <1>;
   			#size-cells = <0>;
			status = "okay";
			
			lcd@0{
				compatible = "sitronix,st7796";
				reg = <0>;
				spi-max-frequency = <50000000>;
				status = "okay";
				dc-gpios = <&gpio 24 0>;
				reset-gpios = <&gpio 25 1>;

				rotate = <270>;
				buswidth = <8>;
				regwidth = <10>;
				fps = <30>;
				bgr = <0> ;
				debug = <0x00>;
			};
			
			touch@1{
				compatible = "ti,ads7846";
				reg = <0x1>;
				spi-max-frequency = <2000000>;
				status = "okay";

				interrupts = <17 0x02>;
				interrupt-parent = <&gpio>;
				pendown-gpio = <&gpio 17 0x00>;
			};


		};
	};
	
	fragment@1 {
		target = <&spi0>;
		__overlay__ {
			status = "okay";
			#address-cells = <1>;
			#size-cells = <0>;
			spidev@0 {
				status = "disabled";
				reg = <0x0>;
			};

			spidev@1 {
				status = "disabled";
				reg = <0x1>;
			};
		};
	};

};
